<!--The content below is only a placeholder and can be replaced.-->
<html>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
   <div *ngFor="let data1 of data">
  <h2> Brand : {{data1.brand}} </h2>    
     <h2>  BuildYear : {{data1.buildYear}}  </h2>
     <h2>  Engine Number : {{data1.engineNumber}}  </h2>
     <h2>    fuel Type : {{data1.fuelType}} </h2>
     <h2>  Image : {{data1.image}}  </h2>
     <h2>  On Board Date : {{data1.onBoardDate}} </h2>
      <!-- Brand : {{data1.brand}}  
      Build Year : {{data1.buildYear}} 
      Engine Number : {{data1.engineNumber}} 
      fuel Type : {{data1.fuelType}} 
      Image : {{data1.image}} 
      On Board Date : {{data1.onBoardDate}}  -->

    
  </div> 
  </div> 
  </html>>
